<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <h1>Sign In</h1>
    <form action="/login" method="POST">
        <input type="text" name="displayname" id="displayname" required placeholder="Your Name">
        <input type="text" name="userid" id="userid" required placeholder="User Id">
        <input type="password" name="password" id="password" required placeholder="Password">
        <input type="password" name="cpassword" id="cpassword" required placeholder="Confirm Password">
        <button type="submit">submit</button>
    </form>
</body>
</html>